@import url('https://fonts.googleapis.com/css?family=Caveat:700&display=swap');

body {
    padding-top: 30px;
}

h1 {
    font-family: 'Caveat', cursive;
}

#palindrome-message {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
    color: #818182;
    background-color: #fefefe;
    border: 1px solid #fdfdfe;
}

#palindrome-message.message-blue {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

#palindrome-message.message-green {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

#palindrome-message.message-yellow {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

#palindrome-message.message-red {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

/*#container {*/
/*    border: 5px solid #b8daff;container*/
/*    padding: 30px;*/
/*    letter-spacing: 8px;*/
/*    color: #004085;*/
/*    background-color: #cce5ff;*/
/*}*/

/*#container.blue {*/
/*    border: 5px solid #b8daff;*/
/*    padding: 30px;*/
/*    letter-spacing: 8px;*/
/*    color: #004085;*/
/*    background-color: #cce5ff;*/
/*}*/

/*#container.red {*/
/*    border: 5px solid #f5c6cb;*/
/*    padding: 30px;*/
/*    letter-spacing: 8px;*/
/*    color: #721c24;*/
/*    background-color: #f8d7da;*/
/*}*/

#container span[id^="c"] {
    border: 5px solid #b8daff;
    padding: 30px;
    letter-spacing: 8px;
    color: #004085;
    background-color: #cce5ff;
}

#container span[id^="d"] {
    border: 5px solid #f5c6cb;
    padding: 30px;
    letter-spacing: 8px;
    color: #721c24;
    background-color: #f8d7da;
}

/*#container.blue span {*/
/*    border: 5px solid #b8daff;*/
/*    padding: 30px;*/
/*    letter-spacing: 8px;*/
/*    color: #004085;*/
/*    background-color: #cce5ff;*/
/*}*/

/*#container.red span {*/
/*    border: 5px solid #f5c6cb;*/
/*    padding: 30px;*/
/*    letter-spacing: 8px;*/
/*    color: #721c24;*/
/*    background-color: #f8d7da;*/
/*}*/
